# Virtual Environment
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc

# Project Outputs
YouTubeResearch/
*_preview_grid.jpg
*_transcript.txt
*.csv
_temp*/

# System
.DS_Store
Thumbs.db
*
*.exe
ffmpeg.exe
ffprobe.exe
ffplay.exe
